.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto;
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-container label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  .login-container input[type="text"],
  .login-container input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .login-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .login-container button:hover {
    background-color: #45a049;
  }
  
  .error-message {
    color: red;
    text-align: left;
    margin-top: 5px;
  }
  
  .Login {
    display: flex;
    flex-direction: column; /* Changed to column to stack navbar and content */
    min-height: 100vh;
    background-color: #f4f4f4;
  }
  
  .login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Allow content to take remaining space */
  }
  
  /* Navbar Styling (Sticky) */
  .navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #f8f9fa; /* Or your desired background color */
  }